<h1 class="text-center">Log in</h1>

  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

    <div>
      <%= f.label :email, class: "form-label mt-3" %>
      <%= f.email_field :email, id:"login_email", class: "form-control", placeholder: "Enter your email address" %>
    </div>

    <div>
      <%= f.label :password, class: "form-label mt-3" %>
      <%= f.password_field :password, id:"login_password", class: "form-control", placeholder: "Choose your password" %>
    </div>

    <div>
      <%= f.submit "Log in", class: 'btn btn-primary mt-3' %>
    </div>

  <% end %>

<%= button_to "Sign up", new_user_path, class: "link-login text-center mt-4", method: :get %>


