<h1 class="text-center">Sign up</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.label :avatar, class: "form-label mt-3" %></br>
    <%= f.file_field :avatar, id: "avatar", class: "form-control"%>
  </div>

  <div>
    <%= f.label :username, class: "form-label mt-3" %>
    <%= f.text_field :username, id: "username", class: "form-control", placeholder: "Choose your username" %>
  </div>

  <div>
    <%= f.label :email, class: "form-label mt-3" %></br>
    <%= f.email_field :email, id: "email", class: "form-control", placeholder: "Enter your email address" %>
  </div>

  <div>
    <%= f.label :password, class: "form-label mt-3" %></br>
    <%= f.password_field :password, id: "password", class: "form-control", placeholder: "Choose your password" %>
  </div>

  <div>
    <%= f.submit "Sign up", class: 'btn btn-primary mt-3' %>
  </div>

<% end %>

<%= button_to "Log in", login_path, class: "link-login text-center mt-4", method: :get %>
