<%= current_user.id %>
<%= @user.id %>

<%= form_for @post do |form| %>
  <div>
    <%= form.label :image, class: "form-label mt-3" %>
    <%= form.file_field :image, class: "image form-control"%>
    <%= form.label :message, class: "form-label mt-3" %>
    <%= form.text_area :message, rows: 10, class: "form-control", placeholder: "Enter your post content" %>
    <% if logged_in? %>
      <%= form.hidden_field :user_id, value: current_user.id %>
    <% end %>
    <% if @user %>
      <%= form.hidden_field :wall, value: @user.id %>
    <% end %>


  </div>
  <div>
    <%= form.submit "Add post", class: 'btn btn-primary mt-3' %>
  </div>
<% end %>