<h1 class='text-center'>Your feed</h1>

<% @posts.each do |post| %>
  <% if post.image.attached? %>
      <%= image_tag post.image, style: "width: 500px; display: block" %>
  <% end %>
  <p><%= post.message %></p>
  <%= render partial: "comments/form", locals: {post: post} %>
  <div id='comments-<%= post.id %>'>
    <%= render post.comments.order("created_at": :desc)%>
 </div>
  <div>
    <div class="img-min">
      <%= avatar_display(post.user, 20) %>
    </div>
    <p><%= post.user.username %></p>
  </div>

  <div id='likes-<%= post.id %>'>
    <%= pluralize(post.likes.count, "like") %>
  </div>

  <% if logged_in? %>
    <%= button_to "Like", post_likes_path(post), remote: true %>
  <% end %>

<% end %>


